<!doctype html>
<html>
<head>
<title>Account</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page">
  <h1>IT NEWS</h1>

<nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="{{ url_for('index') }}">Домой</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if session['loggedin']==true %}
		  <li class="nav-item">
            <a class="nav-link darkgr" href="{{ url_for('profile') }}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link darkgr" href="{{ url_for('recentacc') }}">Недавно просмотренные</a>
          </li>
		  {% endif %}
		  {% if session['loggedin']!=true %}
          <li class="nav-item">
            <a class="nav-link darkgr" href="{{ url_for('login') }}">Войти</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link darkgr" href="{{ url_for('signup') }}">Регистрация</a>
          </li>
		  {% endif %}
		  {% if session['loggedin']==true %}
		  <li class="nav-item">
            <a class="nav-link darkgr" href="{{ url_for('logout') }}">Выйти</a>
          </li>
		  {% endif %}
        </ul>
        {% block search %}{% endblock %}
      </div>
    </nav>
    {% for message in get_flashed_messages() %}
  <div class="flash" style="background: #CFEEF0; color:#015C65; padding: 0.5em;
                  border: 1px solid #015C65;">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
    <div class="container mt-4">
        <div class="card-columns">
  {% block recentnews %}{% endblock %}
        </div>
        {% block pag %}{% endblock %}
    </div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>

