{% extends "acc/account.html" %}
{% block recentnews %}
{% for new in news %}
<div class="card">
  <div class="card-body lightb">
{% if new.image != '' %}
<p><img class="card-img-top" src="{{new.image}}"></p>
{% endif %}

  <h5 class="card-title lightgr" data-toggle="tooltip" title="Перейти на сайт новости"><a href="{{ url_for('recent',url=new.link,id=new.id) }}">{{new.title}}</a></h5>
    <p class="card-text darkgr">{{new.description}}</p>
      <div class="card-footer">
        <p class="card-text"><small class="text-muted">{{new.date}}</small></p>
        <p class="card-text darkgr">Источник: {{new.source}}</p>
      </div>
  </div>
  </div>
{% endfor %}
{% endblock %}
{% block pag %}
{% if pagination is defined %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {{ pagination.links }}
  </ul>
</nav>
{% endif %}
{% endblock%}
